@import "./_common.scss";
:root {
  --c-nav: #000;
  --c-primary: #21243D;
  --c-secondary:#8695A4;
  --c-natural: #fff;
  --c-dividers:#E0E0E0;
  --button-bg-primary: #FF6464;
  --c-view-all: #00A8CC;

  //For burger

  --bar-width:60px;
  --bar-height:8px;
  --hamburger-gap:6px;
  --foreground:#333;
  // --hamburger-margin:8px;
}
body {
  font-family: 'Heebo', sans-serif;
  color:var(--c-primary);
  line-height: 1.4;
  font-size: 16px;
}
.header{
  padding-top: 27px;
  padding-bottom: 70px;
  padding-right: 60px;
}
.header__mobile{
  display: none;
}
.nav{
  display: flex;
  gap:30px;
  justify-content: right;
}
.nav__items{
  text-decoration: none;
  font-size: 20px;
  color:var(--c-nav)
}
.hero{
  
}
.hero__content-wrapper{
  display: flex;
  gap: 106px;
  padding-bottom: 70px;
}
.hero__image{
  aspect-ratio: 1 / 1;
  
}
.hero__content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero__heading{
  color: var(--c-primary);
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

.recent-posts{
  background-image: url("/assets/recent_posts_background.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 32px;
}
.recent-posts__heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-posts__view-all{
  color:var(--c-view-all);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.recent-posts__content-wrapper{
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.recent-posts__content {
  background-color: var(--c-natural);
  border-radius: 4px;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding:24px 21px 7px 23px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}
.recent-posts__content-middle {
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
}
.featured-works{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 115px;

}
.featured-works__container{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 30px;
}
.featured-works__content-wrapper{
  display: flex;
  flex-direction: row;
  gap:18px;
}
.featured-works__dividers{
  color: var(c-dividers);
  height: 2px;
  width: 100%;
}
.featured__photos{
  display: flex;
  justify-content: center;
  align-content: center;
  aspect-ratio: 246 / 180;
}
.featured-works__headlines{
  color: var(--c-primary);
  font-size: 30px;
  font-weight: 700;
}
.featured-works__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:17px;
  
}
.featured-works__content-middle{
  display: flex;
  align-items: center;
  gap:25px;
}
.featured-works__year{
  border-radius: 16px;
  background: var(--c-primary);
  color: var(--c-natural);
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  padding: 3px 6px;
}
.footer{
  margin: 50px 0;
}
.footer_container{
  display: flex;
  flex-direction: column;
  gap:27px;
  justify-content: center;
  align-content: center;
}
.footer__logo-row{
  display: flex;
  gap:35px;
  justify-content: center;
}
.logo {
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/ 1;
  width: 35px;
}
.footer__text{
  display: flex;
  justify-content: center;
  color: #21243D;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  padding-top: 27px;
}